name = "cloudflare-r2-uploader"
type = "javascript"
account_id = "de2fe7999306738ad5530a2fe8d6d09b"
workers_dev = true
compatibility_date = "2025-12-15"

# Entry point Worker
main = "uploadimage.js"

# Environment variables
[vars]
UPLOAD_SECRET = "alfiyan"
ALLOWED_ORIGIN = "*"

# R2 Bucket bindings
R2_BUCKET_FEED = "feed"
R2_BUCKET_USERIMAGE = "userimage"
R2_BUCKET_STORAGE = "storage"
